* {
    background-color:antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

header {
    overflow: hidden;
    width: 100%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    color: cornsilk;
    position: fixed;
    border-bottom: 3px solid black;
    z-index: 1000;
}

#title {
    display: inline;
    border-radius: 5px;
    padding: 5px;
    color:black;
}

#nav-bar {
    margin-right: 10px;
    display: inline-flex;
    float: right;
    width: 400px;
    justify-content: space-between;
}

#nav-bar a {
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    width: 80px;
    justify-content: center;
    background-color: white;
    text-decoration: none;
    text-align: center;
    color: black;
}


#nav-bar a:hover {
    width: 100px;
    font-weight: bold;
    border: 1px solid black;
}

main {
    padding-top: 80px;
    padding-left: 10px;
    display: block;
}

#headshot {
    width: 500px;
    float: right;
    display: inline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: block;
}
#skills-images img {
    height: 80px;
    margin-right: 10px;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
main a:hover {
    text-decoration: underline;
}

#project-links a{
    list-style: decimal;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

footer a:hover {
    text-decoration: underline;
}

#contact {
    display: inline;
}